@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

.buttonDash {
    background-color:slateblue;
    text-decoration: none;

    border-radius: 3px;
    height: 30px;
    width:120px;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 5px;
    border:none;
}

.formContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 500px;
}
.formHalf{
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.privateCode{
    margin-bottom: 10px;
    background-color:white;
    border:1px solid slateblue;
    color:slateblue;
    border-radius: 3px;
    text-align: center;
    width:80%;
    height: 40px;
    
    box-shadow: inset rgba(0, 0, 0, 0.2) 3px 3px 5px;
}
a{
    color:white;    
    text-decoration: none;
}

input:focus, textarea:focus, select:focus{ outline: none; }

