h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    margin-top: 0px;
    text-align: center;
    top: 50%;
}

h2 {
    color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    margin-top: 100px;
    text-align: center;
}

.container {
    background-size: cover;
    align-text: center;
}

.buttonGroup {
        margin-top: 20px;
        margin-bottom: auto;
        margin-left: 350px;
        margin-right: auto;
    }

li {
padding:0.35em 1.2em;
border:0.1em solid #FFFFFF;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:400;
font-size: 150%;
color:#FFFFFF;
text-align:center;
transition: all 0.2s;
width: 300px;
display: flex;
justify-content: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
li:hover{
color:#000000;
background-color:#FFFFFF;
}
@media all and (max-width:30em){
li {
display:block;
margin:0.4em auto;
}
}

